<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearz.mybatis.dao.EmployeeMapper">
    <select id="getEmpById" resultType="emp">
        select *
        from tbl_employee
        where id = #{id}
    </select>

    <insert id="addEmp" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_employee(last_name, gender, email) value (#{lastName},#{gender},#{email})
    </insert>

    <update id="updateEmp">
        update tbl_employee
        set last_name=#{lastName},
            gender=#{gender},
            email=#{email}
        where id = #{id}
    </update>

    <delete id="deleteEmpById">
        delete
        from tbl_employee
        where id = #{id}
    </delete>

    <select id="getEmpByIdAndLastName" resultType="emp">
        select *
        from tbl_employee
        where id = #{id}
          and last_name = #{lastName}
    </select>

    <select id="getEmpByMap" resultType="emp">
        select *
        from tbl_employee
        where id = #{id}
          and last_name = #{lastName}
    </select>

    <select id="getEmpByLastName" resultType="emp">
        select *
        from tbl_employee
        where last_name like #{lastName}
    </select>

    <select id="getEmpByIdReturnMap" resultType="map">
        select *
        from tbl_employee
        where id = #{id}
    </select>

    <select id="getEmpByLastNameReturnMap" resultType="emp">
        select *
        from tbl_employee
        where last_name like #{lastName}
    </select>
</mapper>